@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard);
  word-break: keep-all;
  overflow-wrap: break-word;
  line-height: 1.5;
  letter-spacing: -0.05em;
}

/* ------------------------------------------------------------- */
.visual-swiper .swiper-button-next,
.visual-swiper .swiper-button-prev {
  @apply text-white bg-gray-800/50 hover:bg-gray-800/80 transition duration-300 rounded-full flex justify-center items-center w-8 h-8 lg:w-10 lg:h-10 text-xl z-20;
}

.visual-swiper .swiper-button-next svg,
.visual-swiper .swiper-button-prev svg {
  width: 10px;
}

.visual-swiper .swiper-pagination-bullet {
  @apply w-2 h-2 mx-1 opacity-50 transition duration-500;
  background: white;
}

.visual-swiper .swiper-pagination-bullet-active {
  @apply w-6 opacity-100 rounded-full;
  background: white;
}

/* ------------------------------------------------------------- */

.quick-swiper .swiper-button-next,
.quick-swiper .swiper-button-prev {
  @apply text-white  bg-gray-800/50 hover:bg-gray-800/80 transition duration-300 rounded-full flex justify-center items-center w-6 h-6 text-xl z-20;
  transform: translateY(50%);
}

.quick-swiper .swiper-button-next svg,
.quick-swiper .swiper-button-prev svg {
  width: 6px;
}

/* 1024이하일때 */
@media (max-width: 1023px) {
  .quick-swiper {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

/* 1024이상일때 */
@media (min-width: 1024px) {
  .quick-swiper .swiper-button-next {
    display: none !important;
  }

  .quick-swiper .swiper-button-prev {
    display: none !important;
  }
}
/* ------------------------------------------------------------- */
.tour-swiper .swiper-pagination-bullet {
  background-color: #fff;
}

/* ------------------------------------------------------------- */
div[style*="border: 1px solid rgb(118, 129, 168)"],
div[style*="border: 1px solid #7681a8"] {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  z-index: 999 !important;
}
/* ------------------------------------------------------------- */

.Toastify__toast-container {
  bottom: 88px;
}

.Toastify__toast-container .Toastify__toast {
  background-color: #fff;
  padding: 15px 12px;
  width: auto;
}

@media screen and (max-width: 640px) {
  .Toastify__toast-container {
    bottom: 88px;
    right: 24px;
    margin-left: -25px;
    margin-bottom: 10px;
  }

  .Toastify__toast-container .Toastify__toast {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
}

/* ------------------------------------------------------------- */

.advertise .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #e2e8f0;
  opacity: 1 !important;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 9999px;
}

.advertise .swiper-pagination-bullet-active {
  width: 24px; /* 가로로 길어짐 */
  background-color: #22c55e !important;
  box-shadow: 0 4px 10px rgba(34, 197, 94, 0.4);
}

.advertise .swiper-button-next,
.advertise .swiper-button-prev {
  color: #16a34a !important;
  transform: scale(0.7);
  font-weight: bold;
}
