<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.TEAM202507_01.common.repository.FileMapper">

    <insert id="insertFile" parameterType="com.example.TEAM202507_01.common.dto.FileDto">
        INSERT INTO FILES (
            TARGET_ID,
            CATEGORY,
            ORIGINAL_NAME,
            SAVED_NAME,
            FILE_PATH,
            FILE_SIZE,
            CREATED_AT
        ) VALUES (
                     #{targetId},
                     #{category},
                     #{originalName},
                     #{savedName},
                     #{filePath},
                     #{fileSize},
                     SYSDATE
                 )
    </insert>

</mapper>